html{scroll-behavior:smooth}

.main-logo {
    color: black !important;
    font-family: 'miama', 'serif' !important;
}

.main-names {
    font-family: 'Mansalva', 'serif' !important;
    font-size: 4em !important;
}

.fh5co-heading h2 {
    font-family: 'miama', 'serif' !important;
    color: black;
}

.mb-3 {
    margin-bottom: 3em !important;
}

.family-names {
    margin-top: 20px;  
    margin-bottom: 30px;
}

.family-names h2 {
    font-family: 'miama', 'serif' !important;
    font-size: 3em !important;
}

.event-wrap img {
    border-radius: 100%;
    height: 15em;
    width: 15em;
    object-fit: cover;
}

#fh5co-started .fh5co-heading h2 {
    font-family: 'miama', 'serif' !important;
}

#fh5co-started .fh5co-heading p {
    font-family: 'serif' !important;
}

.standard-font {
    font-family: 'serif' !important;
}

#coming option {
    color: black !important;
}

#my-form-status {
    font-weight: bold;
    position: relative;
}

.form-success {
    background-color: #012d35cc !important;
}

.church {
    margin-top: 20px;
}

.main-dates {
    margin-top: 20px;
}

@media screen and (max-width: 900px) {
    .main-names {
      font-size: 3em !important;
    }

    .fh5co-nav #fh5co-logo {
        font-size: 0.5em !important;
    }

    .main-names {
        font-family: 'Mansalva', 'serif' !important;
        font-size: 3em !important;
    }

    .strong-dt {
        font-size: 1.1em !important;;
    }

    .light-dt {
        font-size: 0.9em !important;;
    }

    .simply-countdown {
        transform: scale(0.7) !important;
            margin-bottom: 0em !important;
    }

    .family-names {
        margin-top: 0px !important;  
        margin-bottom: 0px !important;
        font-size: 0.95em !important;
    }

    .family-names h2 {
        font-family: 'miama', 'serif' !important;
        font-size: 2.7em !important;
    }

    .church {
        margin-top: 10px;
        font-size: 0.8em !important;
    }

    hr {
        margin-top: 15px !important;
        margin-bottom: 5px !important;
    }

    .main-dates {
        margin-top: 10px !important;
    }

    .center-items {
        align-items: center !important;
    }
}
@media screen and (max-width: 480px) {
    .main-names {
        font-size: 3em !important;
    }

    .fh5co-nav #fh5co-logo {
        font-size: 1.5em;
    }

    .main-names {
        font-family: 'Mansalva', 'serif' !important;
        font-size: 2em !important;
    }
}

/* #monogram {
    height: 1em;
} */

.equal {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
  }

/* .fh5co-heading p {
    font-size: 20px !important;
}

.family-names {
    font-size: 20px !important;
} */

h2 {
    margin-bottom: 0px !important;
    line-height: 1.2 !important;
}

.strong-dt {
    font-size: 1.5em;
    font-weight:bolder;
    color: #1d425d;
    font-family: 'Mansalva';
}

.light-dt {
    font-size: 1.2em;
    font-weight: bolder;
    color: #1d425d;
    font-family: 'Mynerve';
}

.center-items {
    display: flex; /* 1. Enable Flex context */
    align-items: flex-end; /* 2. Vertically center the child(ren) */
    height: 100vh; /* 4. Parent must have a defined height */
}