html{scroll-behavior:smooth}

.main-logo {
    color: black !important;
    font-family: 'miama', 'serif' !important;
}

.main-names {
    font-family: 'Mansalva', 'serif' !important;
    font-size: 3em !important;
}

.fh5co-heading h2 {
    font-family: 'miama', 'serif' !important;
    color: black;
}

.mb-3 {
    margin-bottom: 3em !important;
}

.child-names {
    /* margin-top: 20px;  
    margin-bottom: 30px; */
    font-family: 'miama', 'serif' !important;
    font-size: 8em !important;
    line-height: 1.2em !important;
    font-weight: bold;
}

.family-names {
    margin-top: 20px;  
    margin-bottom: 30px;
}

.family-names h2 {
    font-family: 'miama', 'serif' !important;
    font-size: 3em !important;
}

.event-wrap img {
    border-radius: 100%;
    height: 15em;
    width: 15em;
    object-fit: cover;
}

#fh5co-started .fh5co-heading h2 {
    font-family: 'miama', 'serif' !important;
}

#fh5co-started .fh5co-heading p {
    font-family: 'serif' !important;
}

.standard-font {
    font-family: 'serif' !important;
}

#coming option {
    color: black !important;
}

#my-form-status {
    font-weight: bold;
    position: relative;
}

.form-success {
    background-color: #012d35cc !important;
}

.church {
    margin-top: 20px;
    font-size: 1.5em;
    /* font-weight: bold; */
}

.main-dates {
    margin-top: 20px;
}

.fh5co-nav {
    padding: 15px 0 !important;
}




/* #monogram {
    height: 1em;
} */

.equal {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
  }

/* .fh5co-heading p {
    font-size: 20px !important;
}

.family-names {
    font-size: 20px !important;
} */

h2 {
    margin-bottom: 0px !important;
    line-height: 1.2 !important;
}

.strong-dt {
    font-size: 2.5em;
    font-weight:bolder;
    color: #1d425d;
    font-family: 'Mansalva';
}

.light-dt {
    font-size: 2em;
    font-weight: bolder;
    color: #1d425d;
    font-family: 'Mynerve';
}

.center-items {
    display: flex; /* 1. Enable Flex context */
    align-items: flex-end; /* 2. Vertically center the child(ren) */
    height: 100vh; /* 4. Parent must have a defined height */
}

.vertical-center {
    display: flex;
    align-items: center;
}

.date-col {
    line-height: 3em;
}