@media screen and (max-width: 900px) {
    .fh5co-nav #fh5co-logo {
        font-size: 0.5em !important;
    }

    .main-names {
        font-family: 'Mansalva', 'serif' !important;
        font-size: 1.5em !important;
    }

    .strong-dt {
        font-size: 1.6em !important;;
    }

    .light-dt {
        font-size: 1.3em !important;;
    }

    .simply-countdown {
        transform: scale(0.7) !important;
            margin-bottom: 0em !important;
    }

    .family-names {
        margin-top: 0px !important;  
        margin-bottom: 0px !important;
        font-size: 0.95em !important;
    }

    .family-names h2 {
        font-family: 'miama', 'serif' !important;
        font-size: 2.7em !important;
    }

    .church {
        margin-top: 10px;
        font-size: 1.3em !important;
        font-weight: bold;
        line-height: 1.2em;
    }

    hr {
        margin-top: 15px !important;
        margin-bottom: 5px !important;
    }

    .main-dates {
        margin-top: 10px !important;
    }

    .center-items {
        align-items: center !important;
    }

    .fh5co-nav {
        display: none !important;
    }

    .child-names {
        font-size: 4em !important;
        line-height: 1em !important;
    }

    .date-col {
        line-height: 1.7em !important;
    }
}