html{scroll-behavior:smooth}

.main-logo {
    color: black !important;
    font-family: 'miama', 'serif' !important;
}

.main-names {
    font-family: 'Mansalva', 'serif' !important;
    font-size: 4em !important;
}

.fh5co-heading h2 {
    font-family: 'miama', 'serif' !important;
    color: black;
}

.mb-3 {
    margin-bottom: 3em !important;
}

.family-names h2 {
    font-family: 'miama', 'serif' !important;
    font-size: 3em !important;
}

.event-wrap img {
    border-radius: 100%;
    height: 15em;
    width: 15em;
    object-fit: cover;
}

#fh5co-started .fh5co-heading h2 {
    font-family: 'miama', 'serif' !important;
}

#fh5co-started .fh5co-heading p {
    font-family: 'serif' !important;
}

#coming option {
    color: black !important;
}

#my-form-status {
    font-weight: bold;
    position: relative;
}

.form-success {
    background-color: #012d35cc !important;
}

@media screen and (max-width: 900px) {
    .main-names {
      font-size: 3em !important;
    }

    .fh5co-nav #fh5co-logo {
        font-size: 0.5em;
    }
}
@media screen and (max-width: 480px) {
    .main-names {
        font-size: 3em !important;
    }

    .fh5co-nav #fh5co-logo {
        font-size: 1.5em;
    }
}

/* #monogram {
    height: 1em;
} */

.equal {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
  }

/* .fh5co-heading p {
    font-size: 20px !important;
}

.family-names {
    font-size: 20px !important;
} */

h2 {
    margin-bottom: 0px !important;
    line-height: 1.2 !important;
}

.strong-dt {
    font-size: 28px;
    font-weight:bolder;
    color: #074734;
    font-family: 'Mansalva';
}

.light-dt {
    font-size: 20px;
    font-weight: bolder;
    color: #074734;
    font-family: 'Mynerve';
}

.center-items {
    display: flex; /* 1. Enable Flex context */
    align-items: center; /* 2. Vertically center the child(ren) */
    flex-direction: column; /* 3. (Optional) If you need horizontal centering too */
    height: 100vh; /* 4. Parent must have a defined height */
}